@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    /* Heidi Simelius Color Palette v1 */
    --background: 234 23.8% 8.2%; /* #10111A */
    --foreground: 240 11.1% 96.5%; /* #F5F5F7 */
    --primary: 350 78.7% 52.2%; /* #E52545 */
    --secondary: 60 93.9% 93.5%; /* #FEFEDF */
    --border: 236 16% 19.6%; /* #2A2B3A */
    --card: 235 18.8% 12.5%; /* #1A1B26 */
    --muted: 240 7.7% 56.7%; /* #888899 */
    --accent: 351 78.3% 52.2%; /* #E52642 */
    --secondary-foreground: 34 100% 81.2%; /* #FFD59F */

    --card-foreground: var(--foreground);
    --primary-foreground: var(--foreground);
    --muted-foreground: var(--foreground);
    --accent-foreground: var(--foreground);
    --popover-foreground: var(--foreground);
    --destructive-foreground: var(--foreground);

    --destructive: 0 84.2% 60.2%;
    --popover: var(--card);
    --input: var(--border);
    --ring: var(--secondary-foreground);

    --radius: 0.5rem;
  }

  /* v2 */
  .theme-warm-desert {
    --background: 234 23.8% 8.2%; /* #10111A dark blue */
    --foreground: 225 100% 98.4%; /* #f7f9ff - valkoharmaa */
    --primary: 356 80.7% 44.7%; /* #ce1623 - red */
    --secondary: 30.75 71.4% 78%; /* #efc89f - kulta natural korvakorusta */
    --border: 236 16% 19.6%; /* #2A2B3A - v1:stä */
    --card: 235 18.8% 12.5%; /* #1A1B26 - v1:stä */
    /* --muted: 35 15% 55%; /* #968F8A - melko kiva itteasias vaikka OFF PALETTE */
    --muted: 223 5.8% 76.3%; /* #bfc1c6 - muted valkoharmaan pohjalta */
    --accent: 15 84% 48%; /* # OFF PALETTE */
    --secondary-foreground: 44 85.9% 58.2%; /* #f0c039 - tumma kulta ton tummansinisen pohjalta */
  }

  /* v3 */
  .theme-mono-light {
    --background: 0 0% 100%; /* #FFFFFF - White */
    --foreground: 240 10% 3.9%; /* #09090B - Near Black */
    --primary: 346 92% 53%; /* #F0255A - Bright Pink */
    --secondary: 240 5% 65%; /* #A1A1AA - Mid Grey */
    --border: 240 6% 90%; /* #E4E4E7 */
    --card: 240 6% 96%; /* #F4F4F5 */
    --muted: 240 5% 65%;
    --accent: 346 92% 53%;
    --secondary-foreground: 240 10% 3.9%;
  }
}

@layer base {
  @font-face {
    font-family: "Santorini";
    src: url("/fonts/Santorini.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    @apply font-sans; /* Sets the default font to Source Sans 3 */
  }
}

/* Date Picker Overrides */
.rdp-button:hover:not([disabled]),
.rdp-button[aria-selected="true"],
.rdp-button[aria-current="date"],
td:has(.rdp-button[aria-selected="true"]),
td:has(.rdp-button[aria-current="date"]) {
  background-color: hsl(var(--foreground)) !important;
  color: hsl(var(--background)) !important;
}

.react-photo-gallery--gallery img {
  border-radius: var(--radius);
}

.will-clip {
  /* Ensures the element has its own stacking context for clipping */
  will-change: clip-path;
}
